<p id="notice"><%= notice %></p>

<div class="container-fluid">
  
  <div class="row">
      <div class="row">
      <% @posts.each do |post| %>
        <div class="col-md-4"><%= post.title %></div>
        <div class="col-md-6"><%= post.description %></div>
        <div class="col-md-2">
            <div class="btn-group" role="group" aria-label="...">
              <button type="button" class="btn btn-default"><%= link_to 'Show', post %></button>
              <button type="button" class="btn btn-default">Middle</button>
              <button type="button" class="btn btn-default">Right</button>
            </div>
            
            <%= link_to 'Edit', edit_post_path(post) %>
            <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %> 
        </div>
      
      <% end %>
  </div>
</div>
<%= link_to 'New Post', new_post_path %>
</div>