<p id="notice"><%= notice %></p>
<div class="container-fluid">
		<table class="table table-bordered">
	    <tbody>   
	        <tr>       
	          <td>
				<p>
			  <strong>Title:</strong>
			  <%= @post.title %>
			</p>

				<p>
				  <strong>Description:</strong>
				  <%= @post.description.html_safe %>
				</p>
	          </td>
	        </tr>
	        <tr>
		        <td>
		        <div class="btn-group" role="group">
		        	<%= link_to 'Edit', edit_post_path(@post), class: 'btn btn-info btn-xs' %> 
					<%= link_to 'Back', posts_path, class:'btn btn-warning btn-xs' %>	
				</div>
		        </td>
	      	</tr>
	    </tbody>
	  </table>		
</div>